/* Webfonts
   - - - - - - - - - - - - - - - - - - - - */

@font-face {
  font-family: "euclidflex";
  src: url("../fonts/euclidflex-reg.eot");
  src: url("../fonts/euclidflex-reg.eot?#iefix") format("embedded-opentype"),
       url("../fonts/euclidflex-reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



/* Transitions & Animations
   - - - - - - - - - - - - - - - - - - - - */

a, a:hover {
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;  
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fading-primary {
  -webkit-animation: fading .75s ease-in backwards;
     -moz-animation: fading .75s ease-in backwards;
      -ms-animation: fading .75s ease-in backwards;
          animation: fading .75s ease-in backwards;
}

.fading-secondary {
  -webkit-animation: fading .75s ease-in .5s backwards;
     -moz-animation: fading .75s ease-in .5s backwards;
      -ms-animation: fading .75s ease-in .5s backwards;
          animation: fading .75s ease-in .5s backwards;
}



/* Basic
   - - - - - - - - - - - - - - - - - - - - */
   
body {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 22px;
}



/* Layout
   - - - - - - - - - - - - - - - - - - - - */

#container {
  position: absolute;
  left: 0;
  top: 28%;
  width: 100%;
  height: 35%;
  z-index: 2;
  text-align: center;
  margin-left: -2%;
}



/* Logos
   - - - - - - - - - - - - - - - - - - - - */

/*
 * Urban Complexity Lab 
 */
 
#logo {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

canvas {
  position: absolute;
  left: 0;
}

#canvas-helper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

#logo img {
  position: absolute;
  left: 25.6%;
  top: 33.64%;
  width: auto;
  height: 41.3%;
}

/*
 * FHP & here
 */
 
.logos {
  position: absolute;
  z-index: 3;
  bottom: 5%;
}

.logo-here {
  height: 70px;
  width: auto;
  right: 3%;
  margin-bottom: 15x;
}

.logo-fhp {
  width: auto;
  height: 100px;
  left: 3%;
}



/* Text
   - - - - - - - - - - - - - - - - - - - - */

#info {
  width: 100%;
  z-index: 2;
  position: absolute;
  text-align: center;
  color: #fff;
  line-height: 1.5em;        
}

#info {
  bottom: 5%;
}

#coming-soon,
.info-lab {
  font-family: "euclidflex", "futura", "helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;        
}

#info p {
  margin: 0;
  margin: 0 auto;
  width: 80%;
}

#info span {
  line-height: 2em;
}

/*
 * Links
 */
 
a {
  outline: 0;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

a:hover {
  border-bottom: 1px solid transparent;
}


@media screen and (orientation: portrait) {
  
  #container {
    top: 32%;
    height: 30%;
  }
  
}


@media screen and (max-width: 1800px) {

  body {
      font-size: 15px;
  }

  .logo-here {
    height: 50px;
    width: auto;
    right: 3%;
    margin-top: -20px;
  }
  
  .logo-fhp {
    width: auto;
    height: 80px;
    left: 3%;
    margin-top: -30px;
  }

}


@media screen and (max-width: 860px) {
  
  .logos {
    top: 0;
  }
  
  .logo-here,
  .logo-fhp {
    margin-top: 5%;
  }

  .logo-here {
    height: 36px;
    margin-top: calc(5% + 12px);
    right: 5%;
  }

  .logo-fhp {
    height: 60px;
    left: 5%;
  }
  
}


@media screen and (max-width: 580px) {

  body {
    font-size: 13px;
  }

  #container {
    height: 25%;
  }

  #coming-soon,
  #info {
    line-height: 1.4em;        
  }
  
  #info span {
    line-height: 1.7em;        
  }  
        
  .hidden-small {
    display: none;
  }          
  
}        


@media screen and (max-width: 480px) {

  body {
    font-size: 12px;
  }
  
}


@media screen and (max-height: 500px) and (orientation: landscape) {

  #info {
    padding-bottom: 5%;
  }
  
  #container {
    top: 24%;
    height: 50%;
  }

  #info {
    display: none;
  }
  
}